<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    


</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="input-group">
            <input type="text" id="username" placeholder="Nom d'utilisateur">
            <input type="text" id="group" placeholder="Groupe">
            <button id="joinGroup">Rejoindre le Groupe</button>
        </div>
        <div class="messages" id="messages"></div>
        <div class="input-group">
            <input type="text" id="message" placeholder="Message">
            <button id="sendMessage">Envoyer</button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
</body>
</html>
